---
import RouteShellPage from '../../components/RouteShellPage.astro';
---

<RouteShellPage title="Cost KB Ingestion" routeName="kb-ingestion" phase="none">
  <p>Tier-2 ingestion list shell.</p>
</RouteShellPage>
